// Global Settings
@import "site/settings";

// Reset Styles
@import "vendor/normalize";

// Comment out this import if you are customizing you imports below
@import "vendor/foundation";
@import "mixins/all";

body {
  border-top: 4px solid #444;
}

.top-bar, #masthead {
  .logo {
    background-repeat: no-repeat;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    display: block;
  }
}

.top-bar {
  border-bottom: 1px solid #eee;
  .logo{
    @include background-image-retina(/assets/img/pbh-logo-wide,png,80px,44px);
  }
}
#masthead {
  h1 {margin-bottom: 0;}
  .logo{
    margin: 0;
    @include background-image-retina(/assets/img/pbh-logo,png,168px,101px);
    height: 100px;
  }
  ul {
    li {
      margin-left: 2em;
      font-family: $header-font-family;
      font-size: 0.875em;
      line-height: 6.125em;
      text-transform: uppercase;
      &:first-child { border: 0px; }
    }
    a {
      padding-top: 20px;
      border-top: 4px solid transparent;
      &:hover, &:focus {
        text-decoration: none;
        color: $secondary-color;
        border-top: 4px solid $secondary-color;
      }
    }
    .active > a {
      &, &:hover, &:focus {
        border-top: 4px solid $secondary-color;
        color: $secondary-color;
      }
    }
  }
}
  
#jumbotron {
  margin-bottom: 45px;
  position: relative;
  &:after {
    position: absolute;
    width: 94%;
    height: 5%;
    left: 3%;
    border-radius: 50%;
    z-index: -1;
    bottom: 0%;
    content: "";
    box-shadow: 0 7px 16px rgba(0,0,0,0.7);
  }
  .orbit-slides-container img {width: 100%; height: auto;}
  .orbit-bullets {
    margin: 0;
    position: absolute;
    right: 4%;
    top: 15px;
    z-index: 5;
    li {
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: 5px 5px 5px 5px;
      border: 0 none;
      display: block;
      float: left;
      height: 10px;
      margin-left: 5px;
      text-indent: -999px;
      width: 10px;
      &.active {background-color: #fff;}
    }
  }
  .orbit-slide-number, .orbit-timer { @include hidden; }
}

.breadcrumbs {
  background-color: transparent;
  border-bottom: solid 1px #e5e5e5;
  border-top: solid 1px #e5e5e5;
  border-left: 0 none;
  border-right: 0 none;
  border-radius: 0;
}
  
.side-nav {
  a {
    color: #000;
    &:hover{
      color: #f59326;
      text-decoration: none;
    }
  }
  li {
    list-style: none;
    border-bottom: solid 1px #ababab;
    padding: 10px 0 10px 0;
  }
}

.large-4 p {
  padding-top: 10px;
  font-size: 12px;
  padding-right: 10px;
}

#static-page-content {
  h1 {margin-bottom: 25px;}
  
  h4 {
    font-weight: normal;
    padding-bottom: 2px;
    margin: 5px 0 12px 0;
    border-bottom: solid 2px $secondary-color;
    
    span {
      color: #fff;
      background-color: $secondary-color;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
    }
  }
  
  p > img {
    margin: 10px 20px 20px 0;
  }
  
}

.p-left {float: left; margin: 5px;}

#give ol {list-style: none;}


#homepage-promos h4{color: $secondary-color;}
#homepage-promos img {
  padding: 2px;
  border: solid thin #c5c5c5;}

#homepage-promos img:hover {border: solid thin $primary-color;}

.thumbnail {
  border-radius: 0px;
  background-color: #eeeeee;
  border: solid thin #c5c5c5;
}

.thumbnail > img {
  padding: 0px;}


.thumbnails p {
  font-size: 10.5px;
  border-top: none;
  color: #373737;
  padding-right: 15px;
  line-height: 1.4em;
  margin-top: -15px;
}

.thumbnails img:hover {background-color: #000; opacity: 0.8;}

.thumbnails > p > span {font-weight: bold;}


#copyright {
  border-top: solid 10px #e5e5e5;  
  background: #414141;
  background-image: url("../img/bg-img.jpg");
  color: #bebebe;
  padding: 11px 0;
  margin-top: 44px;
  
  a {color: #bebebe;font-size: 11px;}
  ul {list-style: none;}
  p {border: none;font-size: 11px;}
}

ul.link-list {
  li {
    display: inline;
    list-style-type: none;
    margin: 5px;
    padding: 2px;
    border-right: solid 1px #bebebe;
  
    &:last-child{border:0;}
  }

  a {padding-right: 12px;}
}

.partners li {
  padding-bottom: 5px;
}

ul.partners {
  list-style-type: square;

}

.indent {
  list-style: none;
  margin-left: 10px;
}
