{exp:channel:entries channel="about"}
{exp:structure:first_child_redirect}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image="{about_header_image}"
}	

	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				{if about_header_headline}
					{exp:channel:entries channel="about"}
					<h1>{about_header_headline}</h1>
					{/exp:channel:entries}
				{if:else}
					{exp:channel:entries entry_id="15"}
					<h1>{about_header_headline}</h1>
					{/exp:channel:entries}
				{/if}
				{if about_header_content}
					{exp:channel:entries channel="about"}
					<p>{about_header_content}</p>
					{/exp:channel:entries}
				{if:else}
					{exp:channel:entries entry_id="15"}
					<p>{about_header_content}</p>
					{/exp:channel:entries}
				{/if}								
			</div>			
		</div>
	</div>
</section>
<section class="yellowbar-scene"></section>
<section class="single-scene">
	<div class="container">
			<div class="col-lg-3">
				<div class="about">
					{exp:structure:nav css_class="nav nav-pills nav-stacked" current_class="active" start_from="/about" max_depth="2" add_unique_ids="yes" add_span="yes"}
				</div>
			</div>
			<div class="col-lg-9">
				<div class="about">
					<h2 style="text-align: left">{about_body_headline}</h2>
					<hr>
					<div id="about_content">
						{about_body_content}
						{about_content}
							{if button_text}
								<p>{content}</p>
								<a href="{link}"><button type="button" class="btn btn-primary btn-lg btn-orange btn-entypo margin-bottom-large"><img width=30 src="/assets/img/dl.png">  {button_text}</button></a>
							{/if}
						{/about_content}	
					</div>
				</div>
			</div>			
		</div>
	</div>
</section>	
{/exp:channel:entries}