	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>About Us</h1>
				<p>Please join us in creating a healthier future with a donation. We have provided a safe and cost efficient means for you to give to Partners for Better Health (P4bHealth.)</p>					
			</div>			
		</div>
	</div>
</div>
<div class="yellowbar-scene"></div>
<div class="single-scene">
	<div class="container">
			<div class="col-lg-3">
				<div class="about">
					{exp:structure:nav css_class="nav nav-pills nav-stacked" current_class="active" start_from="/about" max_depth="2" add_unique_ids="yes" add_span="yes"}
				</div>
			</div>
			<div class="col-lg-9">
				<div class="about">
					<h2 style="text-align: left">Partners & Organizations</h2>
					<hr>
					<h3>What Is P4B Health?</h3>
					<p>Partners for Better Health (P4bHealth) is a not-for-profit 501 (C) (3) public benefit corporation in formation with the purpose and healthcare design and development to meet the health needs of our local communities. We will not directly provide health services but work with existing agencies to develop appropriate health services.</p>
					<h3>Vision</h3>
					<p>To assist communities throughout the United States in developing a population-based health system that reflects the health needs and preferences of the segments of our community, with service and access solutions that are appropriate in scale and cost, developed through collaboration and cooperation between the communities and the health sector.</p>
				</div>
			</div>			
		</div>
	</div>
</div>	