{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image="{hp_header_image}"
}
	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>The Randall Lewis Health Policy Fellowship</h1>
				<p>A collaborative of corporate, university, and community leadership to assist municipal efforts in the San Bernardino County’s Healthy Communities Initiative. You’re invited to get involved!</p>					
			</div>			
		</div>
	</div>
</div>
<div class="yellowbar-scene"></div>
<div class="single-scene">
	<div class="container">
		<div class="section-banner">The purpose</div>
		<div class="text-center">
			<p>The purpose of the Randall Lewis Health Policy Fellowship program is to ensure the development of public health professionals who possess the necessary skills to influence positive change in public policy, systems, and the built environment in our local municipalities. In addition, these prestigious and competitive fellowships will create educational and professional opportunities for local students in health policy, provide for the expansion of the regional health policy infrastructure, and retain essential intellectual capital in the Inland Empire</p>
			<p>The fellowship, currentily in its third year, runs from September until May.</p>
		</div>
		<div class="row margin-top-80">
			<div class="col-lg-4">
				<div class="get-involved">
					<h2>Universities</h2>
					<hr>
					<p>Randall Lewis Health Policy Fellows are enroled in graduate programs at local universities. They are selected to work with participating municipal leadership on Healthy Communities intiatives. The Fellow is placed with no cost to the city or agency, but we do ask that you participate in maintaining the quality of the fellowship program for our region.</p>
					<p>If you are interested in working with a Fellow for 2013-2014, please take a moment to complete our interest form.</p>
					<button type="button" class="btn btn-primary btn-lg btn-orange">Learn More</button>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="get-involved">
					<h2>Students</h2>
					<hr>
					<p>Randall Lewis Health Policy Fellows are enroled in graduate programs at local universities. They are selected to work with participating municipal leadership on Healthy Communities intiatives. The Fellow is placed with no cost to the city or agency, but we do ask that you participate in maintaining the quality of the fellowship program for our region.</p>
					<p>If you are interested in working with a Fellow for 2013-2014, please take a moment to complete our interest form.</p>
					<button type="button" class="btn btn-primary btn-lg btn-orange">Learn More</button>
				</div>
			</div>		
			<div class="col-lg-4">
				<div class="get-involved">
					<h2>Cities / Agencies</h2>
					<hr>
					<p>Randall Lewis Health Policy Fellows are enroled in graduate programs at local universities. They are selected to work with participating municipal leadership on Healthy Communities intiatives. The Fellow is placed with no cost to the city or agency, but we do ask that you participate in maintaining the quality of the fellowship program for our region.</p>
					<p>If you are interested in working with a Fellow for 2013-2014, please take a moment to complete our interest form.</p>
					<button type="button" class="btn btn-primary btn-lg btn-orange">Learn More</button>
				</div>
			</div>			
		</div>
	</div>
</div>	