{exp:channel:entries channel="get-involved"}
{exp:ce_cache:add_tag}{url_title}|{entry_id}{/exp:ce_cache:add_tag}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image="{get-involved_header_image}"
}
	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>{get-involved_header_headline}</h1>
				<p>{get-involved_header_content}</p>					
			</div>			
		</div>
	</div>
</section>
<section class="yellowbar-scene"></section>
<section class="single-scene">
	<div class="container">
		<div class="section-banner">{get-involved_body_headline}</div>
		<div class="text-center">
			<p>{get-involved_body_content}</p>
		</div>
		<div class="row margin-top-large">
			{get-involved_content}
				<div class="col-lg-4">
					<div class="get-involved">
						<h2>{headline}</h2>
						<hr>
						<p>{content}</p>
						{if button_text}
{!--If there's a link, show DL Icon. Otherwise, the link will open Contact modal--}
							{if link}		
								<a href="{link}" class="btn btn-primary btn-lg btn-orange btn-entypo margin-bottom-large"><i class="entypo-download"></i> {button_text}</a>
							{if:else}
								<a  href="#" data-reveal-id="show-contact-modal" class="btn btn-primary btn-lg btn-orange btn-entypo margin-bottom-large">{button_text}</a>
							{/if}
						{/if}
					</div>
				</div>	
			{/get-involved_content}
		</div>
	</div>
</section>	
<!-- Initiate Modal Data -->
<section id="show-contact-modal" class="reveal-modal large modal-scene ">
	<div class="container-fluid">
		<span class="pull-right close-reveal-modal">&#215;</span>
		{embed="pages/_modal_contact_form"}
	</div>
</section>		
<!-- End Modal Data -->
{/exp:channel:entries}