{exp:channel:entries channel="get-involved"}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image="{get-involved_header_image}"
}
	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>{get-involved_header_headline}</h1>
				<p>{get-involved_header_content}</p>					
			</div>			
		</div>
	</div>
</div>
<div class="yellowbar-scene"></div>
<div class="single-scene">
	<div class="container">
		<div class="section-banner">{get-involved_body_headline}</div>
		<div class="text-center">
			<p>{get-involved_body_content}</p>
		</div>
		<div class="row margin-top-large">
			{get-involved_content}
				<div class="col-lg-4">
					<div class="get-involved">
						<h2>{headline}</h2>
						<hr>
						<p>{content}</p>
						{if button_text}
							<a href="{link}"><button type="button" class="btn btn-primary btn-lg btn-orange btn-entypo margin-bottom-large"><span class="entypo">&#128229;</span> {button_text}</button></a>
						{/if}
					</div>
				</div>	
			{/get-involved_content}
		</div>
	</div>
</div>	
{/exp:channel:entries}