{exp:channel:entries channel="give"}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image="{give_header_image}"
}
	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>{give_header_headline}</h1>
				<p>{give_header_content}</p>					
			</div>
			<div class="row text-center">		
				<div id="button">
						<button type="button" class="btn btn-primary btn-lg btn-orange">Give Now</button>
				</div>
			</div>				
		</div>
	</div>
</div>
<div class="yellowbar-scene"></div>
<div class="single-scene">
	<div class="container">
		<div class="section-banner">{give_body_headline}</div>
		{give_content}
			<div class="row margin-top-large">
				<div class="col-lg-4">
					<img class="img-responsive margin-bottom-small" src="{img}">
				</div>
				<div class="col-lg-8">
					<h2>{headline}</h2>
					<p>{content}</p>
					<a href="{link}"><button type="button" class="btn btn-primary btn-lg btn-orange">Give Now</button></a>
				</div>
			</div>
		{/give_content}
	</div>
</div>	
{/exp:channel:entries}