{exp:channel:entries channel="give"}
{exp:ce_cache:add_tag}{url_title}|{entry_id}{/exp:ce_cache:add_tag}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image="{give_header_image}"
}
	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>{give_header_headline}</h1>
				<p>{give_header_content}</p>					
			</div>			
		</div>
	</div>
</section>
<section class="yellowbar-scene"></section>
<section class="single-scene">
	<div class="container">
		<div class="section-banner">{give_body_headline}</div>
		{give_content}
			<div class="row margin-top-large">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="business" value="ralph@maven20.com">
          <input type="hidden" name="lc" value="US">
          <input type="hidden" name="currency_code" value="USD">
          <input type="hidden" name="no_note" value="0">
          
          <input type="hidden" name="item_name" value="{headline}">
          {if pricing_type == "f"}
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
            <input type="hidden" name="amount" value="{price}">
            {if tracking_id}<input type="hidden" name="item_number" value="{tracking_id}">{/if}
            {if shipping}<input type="hidden" name="shipping" value="{shipping}">{/if}
          {/if}
          {if pricing_type == "v"}
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
          {/if}
  				
          <div class="col-lg-4">
            {embed="utils/process_image"
              src="{img}"
              width="370"
              filename="give-{row_id}"
              class="img-responsive margin-bottom-small"
            }
  				</div>
  				<div class="col-lg-8">
  					<h2>{headline}</h2>
  					<p>{content}</p>
            {if pricing_type == "f"}
            <p><strong>Price:</strong> {price}
            {/if}
          	<div class="product-info-buttons">
              {if pricing_type == "f"}
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              {/if}
              {if pricing_type == "v"}
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              {/if}
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          	</div>
  				</div>
          
        </form>
			</div>
		{/give_content}
	</div>
</section>	
{/exp:channel:entries}