<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
   <source src='/assets/video/homepage-loop_dim_1200.webm' type='video/webm'/>
   <source src='/assets/video/homepage-loop_dim_1200.ogv' type='video/ogg'/>
   <source src='/assets/video/homepage-loop_dim_1200.mp4' type='video/mp4'/>
   <p>Your browser doesn't support html5.</p>
 </video>
  
  
  
{exp:channel:entries channel="homepage"}
{exp:ce_cache:add_tag}{url_title}|{entry_id}{/exp:ce_cache:add_tag}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="homepage"
	template_group="page"
	channel_name="homepage"
	body_class="home"
	header_image=""
}
</section>
<a href="#next" class="go-to-next"><i class='entypo-triangle-down'></i></a>
<section id="intro-scene" class="full-height">
	<div id="intro-scene-content">
    <div class="container">
      <h1{if hp_header_link} class="has-link"{/if}>{hp_header_headline}</h1>
      {if hp_header_link}<p><a href="{hp_header_link}">{hp_header_link_text} <i class="entypo-triangle-right"></i></a></p>{/if}
    </div>
  </div>
  <a class='scroll-down'>
    <span class='left-side'>Scroll</span><i class='center-down entypo-triangle-down'></i><span class='right-side'>Down<span>
  </a>
</section>
<section id="vision-scene">
	<div class="container">
		<div class="row text-center">
			<div class="section-banner">{hp_vision_banner}</div>
			<h2>{hp_vision_headline}</h2>
		</div>
		<div class="row text-center">
			<div class="col-lg-6">
				<img class="img-responsive" src="/assets/img/site/united-states-visual.png">
			</div>
			<div class="col-lg-6">
				{hp_vision_content}				 
				<div id="learn-more">
					<a href="{hp_vision_link}"><button type="button" class="btn btn-primary btn-lg btn-white">Learn more</button></a>
				</div>
			</div>
		</div>
	</div>
</section>
{!-- Uncomment to have process scene have a unique background rather than same as header background <section id="process-scene" style="background: url('{hp_header_image}') no-repeat fixed center;background-size:cover;">--}
<section id="process-scene">
	<div class="container">
		<div class="row text-center">
			<div class="section-banner">{hp_process_banner}</div>
			<h2>{hp_process_headline}</h2>
			<ul class="grid effect-4" id="grid">
				{hp_process_content}
				<li>
					<div class="icons"><i class="{icon}"></i></div>
					<h3>{headline}</h3>
					{content}
				</li>
				{/hp_process_content}
			</ul>
		</div>
	</div>
</section>
<section id="partners-scene">
	<div class="container">
		<div class="row text-center">
			<div class="section-banner">{hp_partners_banner}</div>
			<h2>{hp_partners_headline}</h2>
			{hp_partners_content}
			<div class="col-sm-4 col-lg-2 col-4">
				<div class="icons"><i class="{icon}"></i></div>
				{content}
			</div>	
			{/hp_partners_content}
		</div>
		<div class="row text-center">
			<div id="partners-btn">
				<a href="{hp_partners_button_link}"><button type="button" class="btn btn-primary btn-lg btn-orange">{hp_partners_button}</button></a>
			</div>
		</div>
	</div>
</section>
<section id="projects-scene" class="full-height">
  <div id="full-width-slider" class="royalSlider heroSlider rsDefault">
		{home_projects}
		{embed="pages/_home_project_slide" url_title="{home_projects:url_title}"}
		{/home_projects}	
	</div>
</section>		
<section id="participate-scene" class="last-scene">
	<div class="container">
		<div class="row text-center">
			<div class="section-banner">{hp_action_banner}</div>
			<h2>{hp_action_headline}</h2>			
			<ul class="grid effect-6" id="grid">
				{hp_action_content}
				<li>	
					<div class="icons"><i class="{icon}"></i></div>
					<a href="{link}"><button type="button" class="btn btn-primary btn-lg btn-white btn-fixed-width">{content}</button></a>						
				</li>
				{/hp_action_content}
			</ul>	
		</div>
	</div>
</section>
<!--<section id="spacing-scene"></section>		-->
{/exp:channel:entries}