<!--<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
<source src="/assets/video/couple.mp4" type="video/mp4"> Video not supported </video>-->
{exp:channel:entries channel="homepage"}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image=""
}
	<div id="intro-scene">
		<div class="container">
			<div class="row text-center">	
					<h1>Imagine Your Community<br>With A Healthier Future</h1>
			</div>
			<div class="row text-center">		
					<div id="video">
						<object  data="/assets/img/vectors/playbutton.svg" type="image/svg+xml" class="svg"></object>
				</div>
			</div>				
		</div>
	</div>
</div>
<div id="vision-scene">
	<div class="container">
		<div class="row text-center">
			<div class="section-banner">Our Vision</div>
			<h2>Population-Based Health Systems</h2>
		</div>
		<div class="row text-center">
			<div class="col-lg-6">
				<img class="img-responsive" src="/assets/img/site/united-states-visual.png">
			</div>
			<div class="col-lg-6">
				Our vision is to assist communities throughout the United States in developing a 
				population-based health system that reflects the health needs and preferences of 
				the segments of our community, with service and access solutions that are 
				appropriate in scale and cost, developed through collaboration and cooperation 
				between the communities and the health sector.
				 
				<div id="learn-more">
					<button type="button" class="btn btn-primary btn-lg btn-white">Learn more</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!--<div id="process-scene" style="background: url('{hp_header_image}') no-repeat fixed center;background-size:cover;">-->
<div id="process-scene">
	<div class="container">
		<div class="row text-center">
			<div class="section-banner">Our Process</div>
			<h2>It Starts With Collaboration</h2>
			<ul class="grid effect-4" id="grid">
				<li>
				
					<div class="icons entypo">&#128269;</div>
					<h3>Investigate</h3>
					We create a collaborative effort to understand and interpret the health needs of the 
					community.
				</li>
				<li>
					<div class="icons entypo">&#128161;</div>				
					<h3>Conceptualize</h3>
					We gather our findings and conceptualize solutions.
				</li>
				<li>
					<div class="icons entypo">&#128255;</div>
					<h3>Incubate</h3>
					We incubate those solutions by drawing on a network of resources.		
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="partners-scene">
	<div class="container">
		<div class="row text-center">
			<div class="section-banner">Our Partners</div>
			<h2>It Continues With Our Partnerships</h2>
			<div class="col-lg-2 col-4">
				<div class="icons entypo">&#59172;</div>
				Cities
			</div>
			<div class="col-lg-2 col-4">
				<div class="icons entypo">&#128213;</div>
				Universities
			</div>
			<div class="col-lg-2 col-4">
				<div class="icons entypo">&#127891;</div>
				Students
			</div>
			<div class="col-lg-2 col-4">
				<div class="icons entypo">&#128710;</div>
				Businesses
			</div>
			<div class="col-lg-2 col-4">
				<div class="icons entypo">&#128101;</div>
				Organizations
			</div>
			<div class="col-lg-2 col-4">
				<div class="icons entypo">&#127810;</div>
				Health Systems
			</div>				
		</div>
		<div class="row text-center">
			<div id="partners-btn">
				<button type="button" class="btn btn-primary btn-lg btn-orange">See Our List of Partners</button>
			</div>
		</div>
	</div>
</div>
<div id="projects-scene">
	<div id="full-width-slider" class="royalSlider heroSlider rsDefault">
		<div class="rsContent">
			<img class="rsImg" src="/assets/img/site/projects-scene.jpg" alt="" />
			<div style="margin-top:60px;" class="section-banner text-center rsABlock " data-fade-effect="" data-move-offset="30" data-move-effect="top" data-speed="200">What We've Done</div>
			<div class="infoBlock rsABlock text-center" data-fade-effect="" data-move-offset="30" data-move-effect="left" data-speed="800">
			 
					<h1>Ontario</h1>
					<p>Put completely anything inside - text, images, inputs, links, buttons.</p>
			
			</div>	
		</div>
		<div class="rsContent">
			<img class="rsImg" src="/assets/img/site/chicago.jpg" alt="" />
			<div style="margin-top:60px;" class="section-banner text-center rsABlock" data-fade-effect="" data-move-offset="30" data-move-effect="top" data-speed="200">What We've Done</div>
			<div class="infoBlock rsABlock text-center" data-fade-effect="" data-move-offset="30" data-move-effect="left" data-speed="800">
					<h1>Chicago</h1>
					<p>Put completely anything inside - text, images, inputs, links, buttons.</p>
			</div>	
		</div>	
		<div class="rsContent">
			<img class="rsImg" src="/assets/img/site/chicago.jpg" alt="" />
			<div style="margin-top:60px;" class="section-banner text-center rsABlock" data-fade-effect="" data-move-offset="30" data-move-effect="top" data-speed="200">What We've Done</div>
			<div class="infoBlock rsABlock text-center" data-fade-effect="" data-move-offset="30" data-move-effect="left" data-speed="800">
					<h1>Rancho Cucumonga</h1>
					<p>Put completely anything inside - text, images, inputs, links, buttons.</p>
			</div>	
		</div>				
	</div>
</div>		
<div id="participate-scene">
	<div class="container">
		<div class="row text-center">
			<div class="section-banner">Call to action</div>
			<h2>How Can You Participate?</h2>
			<ul class="grid effect-6" id="grid">
				<li>	
					<div class="icons entypo">&#128227;</div>
					<button type="button" class="btn btn-primary btn-lg btn-white btn-fixed-width">Get Involved</button>						
				</li>
				<li>					
					<div class="icons entypo">&hearts;</div>				
					<button type="button" class="btn btn-primary btn-lg btn-white btn-fixed-width">Give</button>						
				</li>
				<li>	
					<div class="icons entypo">&#128213;</div>
					<button type="button" class="btn btn-primary btn-lg btn-white btn-fixed-width">Learn more</button>				
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="spacing-scene"></div>		
{/exp:channel:entries}