{exp:channel:entries url_title="{embed:url_title}" dynamic="no" sort="asc"}
{project_homepage_content}
<div class="rsContent">
	<img class="rsImg" src="{exp:ce_img:pair src="{background}" width="1600" height="900" crop="yes" allow_scale_larger="yes"}{made}{/exp:ce_img:pair}" alt="" />
  <div style="margin-top:60px;" class="section-banner text-center rsABlock " data-fade-effect="" data-move-offset="30" data-move-effect="top" data-speed="200">What We've Done</div>
  <div class="infoBlock rsABlock text-center" data-fade-effect="" data-move-offset="30" data-move-effect="left" data-speed="800">
		<h1>{title}</h1>
		<p>{copy}</p>
    {if button_link}{/if}
	</div>	
</div>
{/project_homepage_content}
{/exp:channel:entries}