{exp:channel:entries url_title="{embed:url_title}" dynamic="no" sort="asc"}
{exp:ce_cache:add_tag}{url_title}|{entry_id}{/exp:ce_cache:add_tag}
{project_homepage_content}
<div class="rsContent" id="slide{count}">
	<img class="rsImg" src="{exp:ce_img:pair src="{background}" width="1600" height="900" crop="yes" allow_scale_larger="yes" filter="opacity,33" bg_color="#000"}{made}{/exp:ce_img:pair}" alt="" />
  <div style="margin-top:60px;" class="section-banner text-center rsABlock " data-fade-effect="" data-move-offset="30" data-move-effect="top" data-speed="200">What We've Done</div>
  <div class="infoBlock rsABlock text-center" data-fade-effect="" data-move-offset="30" data-move-effect="left" data-speed="800">
		<h1>{title}</h1>
		<p>{copy}</p>
    {if button_link}
    <div class="block-btn">
      <a href="{button_link}"><button class="btn btn-primary btn-lg btn-orange" type="button">{button_title}</button></a>
    </div>{/if}
	</div>	
</div>
{/project_homepage_content}
{/exp:channel:entries}