{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image="{hp_header_image}"
}
	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>These Are Our Projects</h1>
				<p>Our projects are brought to you by the Randall Lewis Fellowship</p>					
			</div>			
		</div>
	</div>
</div>
<div class="yellowbar-scene"></div>
<div class="single-scene">
	<div class="container">
		<div class="section-banner">Filter projects by city</div>
		<div class="filter">
			<ul class="nav nav-pills" >
				<li><a href="#">All</a></li>
				<li><a href="#">Chino</a></li>
				<li><a href="#">Loma Linda</a></li>
				<li><a href="#">Ontario</a></li>
				<li><a href="#">Pasadena</a></li>				
			</ul>
		</div>
		<div class="row margin-top-projects">
			<div class="col-lg-3">
				<div class="thumb-270"><img src="/assets/img/site/chicago.jpg" height="270"></div>
			</div>
			<div class="col-lg-3">
					<div class="thumb-270"><img src="/assets/img/site/process-scene.jpg" height="270"></div>
			</div>
			<div class="col-lg-3">
					<div class="thumb-270"><img src="/assets/img/site/projects-scene.jpg"  height="270"></div>
			</div>
			<div class="col-lg-3">
					<div class="thumb-270"><img src="/assets/img/site/10219_1business_group.jpg" height="270"></div>
			</div>
		</div>
		<div class="row margin-top-projects">
			<div class="col-lg-3">
				<div class="thumb-270"><img src="/assets/img/site/chicago.jpg" height="270"></div>
			</div>
			<div class="col-lg-3">
					<div class="thumb-270"><img src="/assets/img/site/process-scene.jpg" height="270"></div>
			</div>
			<div class="col-lg-3">
					<div class="thumb-270"><img src="/assets/img/site/projects-scene.jpg"  height="270"></div>
			</div>
			<div class="col-lg-3">
					<div class="thumb-270"><img src="/assets/img/site/10219_1business_group.jpg" height="270"></div>
			</div>
		</div>	
	</div>
</div>