{exp:channel:entries channel="projects"}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image="{projects_header_image}"
}
	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>{projects_header_headline}</h1>
				<p>{projects_header_content}</p>					
			</div>			
		</div>
	</div>
</section>
<section class="yellowbar-scene"></section>
<section class="single-scene">
	<div class="container">
		<div class="section-banner">{projects_body_headline}</div>
		<div class="filter" >
			<section id="options" class="clearfix">
				<ul id="filter" class="option-set clearfix nav nav-pills" data-option-key="filter">
					<li><a href="#filter" data-option-value="*">All</a></li>
					{projects_content orderby="city" sort="asc"}
					<?php //Remove spacing from string because css classes don't accept spaces
						$strippedcity = str_replace( ' ', '', '{city}'); 
						echo '<li><a href="#filter" data-option-value=".' . $strippedcity . '">{city}</a></li>';
					?>				
					{/projects_content}
				</ul>
				
			</section> <!-- #options -->
		</div>
		<div class="row margin-top-small"> 
			<div id="container" class="col-lg-12 clearfix text-center">
				{projects_content}
				<?php //Remove spacing from string because css classes don't accept spaces
					$strippedcity = str_replace( ' ', '', '{city}'); 
					echo '<div class="element ' . $strippedcity . '" data-category="{city}">';
				?>
				{if thumbnail != ""}
				<a href="#" data-reveal-id="show{row_id}"><img src="{thumbnail}" width="265" height="165"></a>
				{if:else}
				<a href="#" data-reveal-id="show{row_id}"><img src="{image}" width="265" height="165"></a>
				{/if}
				</div>
				{/projects_content}
			</div> <!-- #container -->
		</div>
	</div>
</section>
<!-- Initiate Modal Data -->
{projects_content}
<section id="show{row_id}" class="reveal-modal xlarge modal-scene close-reveal-modal">
	<div class="container-fluid close-reveal-modal">
	<span class="pull right">&#215;</span>
		<div class="col-lg-3">
			<img src="{image}" class="img-responsive" />
		</div>
		<div class="col-lg-9">
			<h2>City of {city}</h2>
			<h4>{headline}</h4>
			<hr>
			<div class="modal-formatting">
				<div class="col-lg-8">
					<p>{content1}</p>
				</div>
				<div class="col-lg-4">
					<div class="row" >
						<!--<iframe seamless width="100%" height="200" id="iframe-video" src="{video}" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>-->
					</div>
					<div class="row"><p>{content2}</p></div>
				</div>
			</div>
			
		</div>
	</div>
</section>		
{/projects_content}
<!-- End Modal Data -->
{/exp:channel:entries}