{exp:channel:entries channel="projects"}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image="{projects_header_image}"
}
	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>{projects_header_headline}</h1>
				<p>{projects_header_content}</p>					
			</div>			
		</div>
	</div>
</div>
<div class="yellowbar-scene"></div>
<div class="single-scene">

 
	<div class="container">
		<div class="section-banner">Filter projects by city</div>
		<div class="filter" >
			<section id="options" class="clearfix">
				<ul id="filter" class="option-set clearfix nav nav-pills" data-option-key="filter">
					<li><a href="#filter" data-option-value="*" class="selected">All</a></li>
					{projects_content orderby="city" sort="asc"}
					<?php //Remove spacing from string because css classes don't accept spaces
						$stripped = str_replace( ' ', '', '{city}'); 
						echo '<li><a href="#filter" data-option-value=".' . $stripped . '">{city}</a></li>';
					?>				
					{/projects_content}
				</ul>
				<script>	//Prevent List items from showing more than once
					var seen = {};
					$('a').each(function() {
						var txt = $(this).text();
						if (seen[txt])
							$(this).remove();
						else
							seen[txt] = true;
					});
				</script>
			</section> <!-- #options -->
		</div>
		<div class="rowd margin-top-small"> 
			<div id="container" class="col-lg-12 clearfix text-center">
				{projects_content}
				<?php //Remove spacing from string because css classes don't accept spaces
					$stripped = str_replace( ' ', '', '{city}'); 
					echo '<div class="element ' . $stripped . '" data-category="{city}">';
				?>
				<img src="{image}" width="265" height="165">
				</div>
				{/projects_content}
			</div> <!-- #container -->
		</div>
	</div>
</div>
{/exp:channel:entries}