{exp:channel:entries channel="stories" parse="inward"}{exp:ce_cache:add_tag}{url_title}|{entry_id}{/exp:ce_cache:add_tag}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="page"
	channel_name="pages"
	body_class="sub-page"
	header_image="{stories_header_image}"
}
	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>{stories_header_headline}</h1>
				<p>{stories_header_content}</p>					
			</div>			
		</div>
	</div>
</section>
<section class="yellowbar-scene"></section>
<section class="single-scene stories">
	<div class="container">
		<div class="row">
      {stories_videos}
      {exp:antenna url='{story_vid_url}' max_width="1280" max_height="720" cache_minutes="120" wmode="transparent|opaque|window"}
      <div class="col-lg-6 margin-bottom-small {exp:gwcode_alternate count="{row_count}" alternate="odd|even"}">
      	<div class="story">
      		{embed_code}
      		<h3>{story_vid_title}</h3>
      		<div class="block-videos">
      			<p>{story_vid_desc}</p>
      		</div>
      	</div>
      </div>
      {/exp:antenna}
      {/stories_videos}
		</div>
	</div>
</section>
{/exp:channel:entries}