{exp:channel:entries channel="team" category="{embed:cat}" dynamic="no" sort="asc"}
{exp:ce_cache:add_tag}{url_title}|{entry_id}{/exp:ce_cache:add_tag}
{if count == "1"}<div class="team clearfix">{/if}
<div class="col-lg-3 listing" id="team_{url_title}">
	{embed="utils/process_image"
    src="{if team_photo}{team_photo}{if:else}/assets/img/blankface.jpg{/if}"
    max_width='200' max_height='200'
    filename="team-member-{entry_id}"
    class="img-responsive"
  }
	<br><strong>{title}</strong><br>{team_title}
</div>
{if total_results == count}</div>{/if}
{/exp:channel:entries}