{exp:ce_cache:it}
{www_html_head}

{www_metatags}

{exp:seo_lite use_last_segment="yes"}

{www_stylesheets}
{www_js_head}
{www_html_head_end}

{exp:channel:entries channel="stories" limit="1"}
{exp:ce_cache:add_tag}{url_title}|{entry_id}{/exp:ce_cache:add_tag}
{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="success-stories"
	template_group="pages"
	channel_name="pages"
	body_class="sub-page"
	{if header_image}header_image="{header_image}"{/if}
}
	<div id="header-scene">
		<div class="container">
			<div class="row text-center">	
				<h1>{stories_header_headline}</h1>
				<p>{stories_header_content}</p>					
			</div>			
		</div>
	</div>
</section>
<section class="yellowbar-scene"></section>
<section class="single-scene">
	<div class="container">
		<div class="row">
{exp:channel_videos:videos entry_id="{entry_id}" embed_width="100%" }			
			<div class="col-lg-6 margin-bottom-small">
				<div class="stories">
					{video:embed_code}
					<h3>{video:title}</h3>
					<div class="block-videos">
						<p>{video:description}</p>
					</div>
				</div>
			</div>
			{/exp:channel_videos:videos}		
		</div>
	</div>
</section>	
{/exp:channel:entries}

{embed="global/_footer"}
{www_js_foot}
{if segment_1 == "projects"}
<script>	//Prevent duplicate city listings
	var seen = {};
	$('#container a').each(function() {
		var txt = $(this).text();
		if (seen[txt])
			$(this).remove();
		else
			seen[txt] = true;
	});
</script>
{/if}
{www_body_html_end}
{/exp:ce_cache:it}