{www_html_head}

{www_metatags}

{exp:seo_lite use_last_segment="yes"}

{www_stylesheets}
{www_js_head}
{www_html_head_end}

{exp:channel:entries channel="pages" limit="1"}

{embed="global/_header"
	entry_id="{last_segment_absolute_id}"
	url_title="{last_segment_absolute}"
	template="index"
	template_group="pages"
	channel_name="pages"
	body_class="sub-page"
	{if header_image}header_image="{header_image}"{/if}
}	
	<div id="header-scene">
		<div class="container">
      {embed="pages/_page_header"
        {if header_title}
          title="{header_title}"
        {/if}
        {if header_subtitle}
          subtitle="{header_subtitle}"
        {/if}
      }	
		</div>
	</div>
</section>
<section class="yellowbar-scene"></section>

<section class="single-scene">
	<div id="{segment_1}" class="container">
    <div class="row">
			<div class="col-lg-12">
        <h2 style="text-align: left">Upload Files</h2>
        <hr>
					<div id="main_content">
            
            <div class="box row" align="center">
              <?php
                $dbpassword = $this->EE->input->post('dbpassword');
                if (!$dbpassword):
              ?>
              <div class="col col-lg-4 col-lg-offset-4 center well well-small text-center">
                <form action="" method="post">
                  <input type="hidden" name="XID" value="{XID_HASH}" />  
                  <div class="alert alert-error">
                    Please enter the password to upload.
                  </div> 
                  <div class="input-group"><span class="input-group-addon" style="padding-top:0;padding-bottom:0;"><i class="entypo entypo-lock" style="font-size:32px;line-height:28px;"></i></span>
                    <input type="password" name="dbpassword" value="" id="dbpassword" class="form-control" />
                    <span class="input-group-btn">
                      <input type="submit" value="Go!" class="btn btn-primary" style="font-size:16px;" />
                    </span>
                  </div>
                </form>
              </div>
              <?php else : ?>
                {embed="pages/_upload_form" dbpw="<?php echo $dbpassword;?>"}
              <?php endif; ?>
              
            </div>
            
            
					</div>
			  </div>	
      </div><!--/.row -->
		</div>
	</div>
</section>	
{/exp:channel:entries}

{embed="global/_footer"}
{www_js_foot}
{www_body_html_end}