.btn-white {
   @include box-shadow(0px 4px 0px rgba(0, 0, 0, 0.2));
   background-color:#fff;
   border:0;
   @include border-radius($pbh-radius);
   color:$pbh-orange;
   font-size:18px;
   font-weight:700;
   padding-left:45px;
   padding-right:45px;
}
.btn-gray {
   @include box-shadow(0px 4px 0px rgba(0, 0, 0, 0.2));
   background-color: #525252;
   border:0;
   @include border-radius($pbh-radius);
   color: $pbh-darkgray;
   font-size:18px;
   font-weight:700;
   padding-left:15px;
   padding-right:15px;
}
.btn-fixed-width{
	width: 210px;
}
.btn-orange {
   @include box-shadow(0px 4px 0px rgba(0, 0, 0, 0.2));
   background-color:$pbh-orange;
   border:0;
   @include border-radius($pbh-radius);
   color:$pbh-white;
   font-size:18px;
   font-weight:700;
   padding-left:45px;
   padding-right:45px;
}
.btn-entypo {
	height: 2.5em;
  line-height: 1em;
  
  i {
    font-size: 2.5em;
  }
}