@font-face {
  font-family: "Entypo";
  src: url('/assets/fonts/entypo.eot');
  src: url('/assets/fonts/entypo.eot?#iefix') format('eot'),
  url('/assets/fonts/entypo.woff') format('woff'),
  url('/assets/fonts/entypo.ttf') format('truetype'),
  url('/assets/fonts/entypo.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Entypo Social";
  src: url('/assets/fonts/entypo-social.eot');
  src: url('/assets/fonts/entypo-social.eot?#iefix') format('eot'),
  url('/assets/fonts/entypo-social.woff') format('woff'),
  url('/assets/fonts/entypo-social.ttf') format('truetype'),
  url('/assets/fonts/entypo-social.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
	font-family: 'Maven Pro';
	src: url('/assets/fonts/MavenProRegular.eot?') format('eot'), 
	     url('/assets/fonts/MavenProRegular.otf')  format('opentype'),
	     url('/assets/fonts/MavenProRegular.woff') format('woff'), 
	     url('/assets/fonts/MavenProRegular.ttf')  format('truetype'),
	     url('/assets/fonts/MavenProRegular.svg#MavenProRegular') format('svg');
}  

@font-face {
	font-family: 'Maven Pro';
	src: url('/assets/fonts/MavenProBold.eot?') format('eot'), 
	     url('/assets/fonts/MavenProBold.otf')  format('opentype'),
	     url('/assets/fonts/MavenProBold.woff') format('woff'), 
	     url('/assets/fonts/MavenProBold.ttf')  format('truetype'),
	     url('/assets/fonts/MavenProBold.svg#MavenProBold') format('svg');
	font-weight: bold;
}

@font-face {
	font-family: 'Maven Pro';
	src: url('/assets/fonts/MavenProMedium.eot?') format('eot'), 
	     url('/assets/fonts/MavenProMedium.otf')  format('opentype'),
	     url('/assets/fonts/MavenProMedium.woff') format('woff'), 
	     url('/assets/fonts/MavenProMedium.ttf')  format('truetype'),
	     url('/assets/fonts/MavenProMedium.svg#MavenProMedium') format('svg');
	font-weight: 700;
}
// Catchall baseclass
.entypo {
  font-family: 'Entypo';
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}