@font-face {
  font-family: "Entypo";
  src: url('/assets/css/fonts/entypo.eot');
  src: url('/assets/css/fonts/entypo.eot?#iefix') format('eot'),
  url('/assets/css/fonts/entypo.woff') format('woff'),
  url('/assets/css/fonts/entypo.ttf') format('truetype'),
  url('/assets/css/fonts/entypo.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Entypo Social";
  src: url('/assets/css/fonts/entypo-social.eot');
  src: url('/assets/css/fonts/entypo-social.eot?#iefix') format('eot'),
  url('/assets/css/fonts/entypo-social.woff') format('woff'),
  url('/assets/css/fonts/entypo-social.ttf') format('truetype'),
  url('/assets/css/fonts/entypo-social.svg') format('svg');
  font-weight: normal;
  font-style: normal; }
	
// Catchall baseclass
.entypo {
  font-family: 'Entypo';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}