#show-contact-modal {
	color: #949494;
	input, textarea {
		position:relative;
		-webkit-transition: all 0.2s ease-in-out 0s;
		-moz-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
		@include box-shadow(0 1px rgba(34, 25, 25, 0.2) inset, 0 1px #fff);
		
		width:100%;
		//height:27px;
		background:#FFF;
		border:2px solid #dedede;
		padding:10px;
		margin-top:5px;
		margin-bottom:5px;
		color:$pbh-orange;
		/*-moz-border-radius:7px;
		-webkit-border-radius:7px;
		border-radius:7px;*/
	}
	#sendbutton {
    background: $pbh-orange;
	color: $pbh-white;
	font-weight: 600;
    border:none;
    margin-top:20px;
    cursor:pointer;
	&:hover {
		opacity:0.7;
	}
}
}