$topbar-height:			125px;

#header {
	width:100%;
	min-height:460px;
	display:block;
	overflow:hidden;
	margin:0 auto;
	#topbar {	
		background:rgba(0,0,0,0.3);
		width:100%;
		min-height:$topbar-height;
		.vertical-center {
			margin-top:$topbar-height/2 - 40px;
		}
	}
	nav {	
		display:inline;
		z-index: 20;
		width: 100%;
		ul {
			list-style-type:none;
			margin-top:$topbar-height/2 - 8px;
			li {						
				width: auto;              
				margin: 0 (45px/2) 0 (45px/2); 	
				display:inline;
				.banner {
					
					position: absolute;
					top: -60px;
					
					display: inline;
					width: 30px;
					z-index: 0;
				}
				.topper{
					position: relative;
					z-index: 10;
				}
			}
			#nav-sub-give {	//Add Banner for Give link
	/*			background: url("/assets/img/vectors/banner.svg") no-repeat center;
				
				//position: absolute;
				top: -5px;
				overflow: visible;
				display: inline;
				width: 69.75px;
				margin-right: 40px;
				height: 145.75px;
				z-index: 20;
				line-height: $topbar-height + 22px;*/
			}
		}
		.nav-pills {
			@include border-radius($pbh-radius);			
			a {
				color: $pbh-white;
				font-size:18px;
				font-weight: regular;			
				@include text-shadow(0px 2px 0px rgba(0, 0, 0, 0.2));
				z-index: 10;
				&:hover {
					background:rgba(0,0,0,0.5);				
				}
			}
			
		}
	}
	#header-scene {
		margin-top:60px;
		margin-bottom:60px;
		h1 {
			color:white;
			font-weight:bold;
			@include text-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
		}
		#button {
			margin:35px auto;
			width:230px;
			
		}
		p {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			font-size: 22px;
			line-height: 1.091;
			@include text-shadow(0px 2px 0px rgba(0, 0, 0, 0.2));
		}
	}
}
