#header {
	width:100%;
	min-height:660px;
	display:block;
	overflow:hidden;
	margin:0 auto;
	#topbar {
		
		background:rgba(0,0,0,0.3);
		width:100%;
		min-height:$topbar-height;
		.vertical-center {
			margin-top:$topbar-height/2 - 40px;
		}
	}
	nav {	
		color:$pbh-white;
		display:inline;
		font-size:18px;
		font-weight:bold;
		z-index: 200;
		width: 100%;
		ul {
			list-style-type:none;
			margin-top:$topbar-height/2 - 8px;
			li {		
				z-index: 10;
				width: auto;              
				margin: 0 (45px/2) 0 (45px/2); 	
				@include text-shadow(1px 1.732px 0px rgba(0, 0, 0, 0.2));
				display:inline;
				.banner {
					position: absolute;
					top: 0;
					display: inline;
					width: 30px;
					z-index: 0;
				}
				.topper{
					z-index:1000;
				}
			}
		}
	}
}
