#video_background { 
	position: fixed; 
	bottom: 0px; right: 0px; min-width: 100%; min-height: 100%; 
	width: auto; height: auto; z-index: -1000; overflow: hidden; 
}


.go-to-next {
  position: fixed;
  bottom: 20px;
  left: 50%;
  display: block;
  width: 36px;
  height: 36px;
  margin-left: -24px;
  font-size: 2.4em;
  line-height: 24px;
  text-align: center;
  border: 2px solid $pbh-white;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  @include transition(all 0.8s);
  
  &:visited {
    color: $pbh-white;
  }

  i {
    position: relative;
    top: 3px;
    color: $pbh-white;
    left: 1px;
  }

  &.show {
    z-index: 2147483647 !important;
    opacity: 0.8;
  }

  &:hover,
  &:focus {
    background: $pbh-white;
    text-decoration: none;
    outline: 0 none;
    i {
      color: $pbh-orange;
    }
  }
}

#intro-scene {
  margin: (-$topbar-height) 0 0;
  
  position: relative;
  zoom: 1;
  z-index: 0;
  box-sizing: border-box;
  text-align: center;
  @include clearfix();
  
  #intro-scene-content {
    display: block;
    text-align: left;
    margin-top: ($topbar-height + 90px);
    padding: 0 20px 120px;
    
    
  	h1 {
      font-size: 40px;
  		color:white;
  		font-weight:bold;
      text-align: left;
      padding: 0 0 25px;
      margin: 0 0 20px;
      display: inline-block;
  		@include text-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
      
      &.has-link {
        border-bottom: 2px solid $pbh-orange;
      }
      
  	}
    
    p {
      margin-top: 12px;
      font-size: 16px;
      
      a {
        padding: 18px 25px;
        color: $pbh-white;
        text-decoration: none;
        display: inline-block;
        background:rgba(0,0,0,0.5);
        @include border-radius($pbh-radius);
        
        i {
          font-size: 24px;
          line-height: normal;
        }
        
        &:focus,
        &:hover {
          color: $pbh-white;
          outline: 0 none;
          text-decoration: none;
        }
      }
    }
    
    @include respond-to(desktop-above) {
      padding: 0;
      
      h1 {
        font-size: 64px;
      }
      p {
        font-size: 20px;
      }
      
    }
    
  }
  
  .scroll-down {
    position: absolute;
    bottom: 50px;
    z-index: 999;
    display: block;
    width: 100%;
    margin-left: -4.5px;
    font-size: 1em;
    line-height: 44px;
    color: #fff;
  
    &:hover {
      text-decoration: none;
    }
    
    .left-side {
      position: relative;
      top: 14px;
      left: -15px;
      //text-transform: uppercase;
    }

    .right-side {
      position: relative;
      top: 14px;
      right: -15px;
      //text-transform: uppercase;
    }

    .center-down {
      position: relative;
      top: 12px;
      @include inline-block;
      width: 36px;
      height: 36px;
      font-size: 2.4em;
      line-height: 32px;
      color: $pbh-white;
      background: $pbh-orange;
      border: 3px solid transparent;
      border-radius: 50%;
      cursor: pointer;
    
      &:hover {
      color: $pbh-orange;
      background: transparent;
      border-color: $pbh-white;
      }
    }
  }
  
  
}
#vision-scene {
	background-color: $pbh-orange;
	min-height: 600px;
	padding-top:60px;
	padding-bottom:60px;
	color: #ac6415;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.091;
	h2 {
		color:$pbh-white;
		margin-top:54px;
		margin-bottom:54px;
		@include text-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
	}
	#learn-more {
		margin-top: 35px;
	}
}
#process-scene {
	padding-top:60px;
	padding-bottom:60px;
	width: 100%;
	min-height: 100vh;
	h2,h3 {
		color:$pbh-white;
		@include text-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
	}
	h2 {
		margin-top:54px;
		margin-bottom:54px;	
	}
	h3 {
		font-size: 36px;
		margin-top: 50px;
	}
	font-size: 22px;
	line-height: 1.091;
	@include text-shadow(0px 2px 0px rgba(0, 0, 0, 0.2));
	
  .icons {
    display: block;
		margin: 45px auto 0 auto;
		height: 230px;
		width: 230px;
		background-color: $pbh-white;
		color: $pbh-orange;
		font-size: 8em;
    line-height: 200px;
    position: relative;
    text-align: center;
		@include border-radius(50%);
		@include box-shadow(0px 4px 0px rgba(0, 0, 0, 0.2));
    @include text-shadow(none);
    
    [class^="entypo-"],
    [class*=" entypo-"] {
      
    }
    
    [class^="pbh-"],
    [class*=" pbh-"] {
      font-size: 1.2em;
      line-height: 1em;
    }
	}
}
#partners-scene {
	background-color: $pbh-white;
	width: 100%;
	color: #949494;
	font-size: 22px;
	
	min-height: 715px;
	padding-top:60px;
	padding-bottom:60px;
	h2 {
		color:$pbh-orange;
		margin-top:54px;
		margin-bottom:14px;
	}
	.icons {
		margin: 0 auto 20px auto;
		color: $pbh-orange;
		font-size: 7em;
    line-height: 1em;
	}
	#partners-btn {
		margin-top: 105px;
	}
  
  .col-sm-4:nth-child(3n+3) {  
    clear: left;
  }
  @include respond-to(desktop-above) {
    .col-sm-4:nth-child(3n+3) {  
      clear: none;
    }
  }
  
}
#projects-scene {
	background-color: black;
	overflow: hidden;
  @include clearfix();
  
	.infoBlock {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-bottom: 0;
		overflow: hidden;
		padding: 20px 58px;
	}
	.infoBlockLeftBlack {		//For Semi-transparent background. Disabled for now
	  color: $pbh-white;
	  width: 700px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  margin-left: auto;
	  margin-right: auto;
	}
	h1 {
		text-transform: uppercase;
		font-weight: bold;
	}
	p {
		font-size: 24px;
	}
  
  .block-btn {
    margin-top: 20px;
  }
  
  @include respond-to(desktop-above) {
  	.infoBlock {
  		margin-top:120px;
  		padding: 20px 200px;
  	}
    p {
      padding: 0 15%;
  	}
  }
  
}
#participate-scene {
	background-color: $pbh-orange;
	min-height: 600px;
	padding-top:60px;
	padding-bottom:60px;
	h2 {
		color:$pbh-white;
		margin-top:54px;
		@include text-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
	}
	.icons {
		width: 100px;
		text-align: center!important;
		margin: 0 auto 40px auto;
		color: $pbh-white;
		font-size: 14rem;
    line-height: 1em;
		@include text-shadow(0px 4px 0px rgba(0, 0, 0, 0.2));
	}
}
#spacing-scene {
	height: 200px;
}