#video_background { 
	position: fixed; 
	bottom: 0px; right: 0px; min-width: 100%; min-height: 100%; 
	width: auto; height: auto; z-index: -1000; overflow: hidden; 
}


#intro-scene {
	margin:120px 20px;

	h1 {
		color:white;
		font-weight:bold;

		@include text-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
	}
	#video {
    display: block;
		margin:35px auto;
		background:rgba(0,0,0,0.3);
		width:230px;
		height:140px;
    text-align: center;
    @include clearfix;
    background-size: 100% 100%;
    text-decoration: none;
    color: $pbh-white;
    
    .playicon {
      display: block;
      margin: 25px auto 0;
      border: 5px solid $pbh-white;
      background-color: $pbh-orange;
      @include border-radius(50%);
      font-size: 80px;
      height: 80px;
      line-height: 80px;
      width: 80px;
      @include box-shadow(inset 0px 3px 0px rgba(0, 0, 0, 0.2));
      @include transition(.2s all);
    }
    i {
      line-height: 72px;
      @include text-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
    }
    
    &:hover, &:focus {
      
      .playicon {
        background-color: darken($pbh-orange, 5%);
      }
    }
    
    
	}
}
#vision-scene {
	background-color: $pbh-orange;
	min-height: 600px;
	padding-top:60px;
	padding-bottom:60px;
	color: #ac6415;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.091;
	h2 {
		color:$pbh-white;
		margin-top:54px;
		margin-bottom:54px;
		@include text-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
	}
	#learn-more {
		margin-top: 35px;
	}
}
#process-scene {
  background-color: rgba(0,0,0,.4);
	padding-top:60px;
	padding-bottom:60px;
	width: 100%;
	min-height: 100vh;
	h2,h3 {
		color:$pbh-white;
		@include text-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
	}
	h2 {
		margin-top:54px;
		margin-bottom:54px;	
	}
	h3 {
		font-size: 36px;
		margin-top: 50px;
	}
	font-size: 22px;
	line-height: 1.091;
	@include text-shadow(0px 2px 0px rgba(0, 0, 0, 0.2));
	
  .icons {
    display: block;
		margin: 45px auto 0 auto;
		height: 230px;
		width: 230px;
		background-color: $pbh-white;
		color: $pbh-orange;
		font-size: 8em;
    line-height: 200px;
    position: relative;
    text-align: center;
		@include border-radius(50%);
		@include box-shadow(0px 4px 0px rgba(0, 0, 0, 0.2));
    @include text-shadow(none);
    
    [class^="entypo-"],
    [class*=" entypo-"] {
      
    }
    
    [class^="pbh-"],
    [class*=" pbh-"] {
      font-size: 1.2em;
      line-height: 1em;
    }
	}
}
#partners-scene {
	background-color: $pbh-white;
	width: 100%;
	color: #949494;
	font-size: 22px;
	
	min-height: 715px;
	padding-top:60px;
	padding-bottom:60px;
	h2 {
		color:$pbh-orange;
		margin-top:54px;
		margin-bottom:14px;
	}
	.icons {
		margin: 0 auto 20px auto;
		color: $pbh-orange;
		font-size: 7em;
    line-height: 1em;
	}
	#partners-btn {
		margin-top: 105px;
	}
}
#projects-scene {
//	background: url("/assets/img/site/projects-scene.jpg") no-repeat fixed center;
//	background-size: cover;
	background-color: black;
//	height: 100vh;
//	padding-top:60px;
//	padding-bottom:60px;	
//	width: 100%;
	overflow: hidden;
  
	.infoBlock {
		margin-top:120px;		
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-bottom: 0;
		overflow: hidden;
		padding: 20px 200px;
	}
	.infoBlockLeftBlack {		//For Semi-transparent background. Disabled for now
	  color: #FFF;	
	 // background: #000;
	  width: 700px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  margin-left: auto;
	  margin-right: auto;
	 // background: rgba(0,0,0,0.05);	 
	}
	h1 {
		text-transform: uppercase;
		font-weight: bold;
	}
	p {
		font-size: 24px;
	}
}
#participate-scene {
	background-color: $pbh-orange;
	min-height: 600px;
	padding-top:60px;
	padding-bottom:60px;
	h2 {
		color:$pbh-white;
		margin-top:54px;
		@include text-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
	}
	.icons {
		width: 100px;
		text-align: center!important;
		margin: 0 auto 40px auto;
		color: $pbh-white;
		font-size: 14rem;
    line-height: 1em;
		@include text-shadow(0px 4px 0px rgba(0, 0, 0, 0.2));
	}
}
#spacing-scene {
	height: 200px;
}