.single-scene {
	background-color: $pbh-white;
	color: $pbh-gray;
	min-height: 600px;
	padding-top:60px;
	padding-bottom:60px;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.091;	
	
  
	.thumb-270 {
		height: 270px;
		width: 270px;
		overflow: hidden;
	}
	h2 {
		color: $pbh-orange;
		margin-top: 0%;
	}
	p {
		color: $pbh-gray;
		font-size: 22px;
		font-weight: normal;
		margin-bottom: 1.5em;
	}
}

.yellowbar-scene {
	height: 40px;
	background-color: $pbh-orange;
}



.section-banner {
	width:100%;
	height:57px;
	background:url("/assets/img/section-banner.png") no-repeat center;
	font-size:18px;
	font-weight:700;
	text-transform: uppercase;
	text-align: center;
	padding-top:18px;
	color:$pbh-white;
	@include text-shadow(0px 2px 0px rgba(0, 0, 0, 0.2));
	margin-bottom: 60px;
}

#main_content {
	hr {
		height: 1px;
		border: 0; border-top: 1px solid $pbh-orange;
	}
	h1,h2,h3 {
		font-size: 22px;
		color: $pbh-orange;
		font-weight: 700;
		text-align: left;
		@include text-shadow(0px 0px 0px rgba(0, 0, 0, 0));
	}
	li {
		line-height: 1.5;
	}
}


#get-involved, #about {
	h2 {
		color: $pbh-darkgray;
		text-align: center;
		font-weight: bold;
	}
}


#about {
	.team {
		ul {
			overflow: hidden;
			list-style: none;
			width: 100%;
			margin:0;padding:0; /* CSS Reset */
			max-width: 1000px; /* restrict the width */
			margin: auto; /* center it */
			margin-bottom: 2em;
		}
		li {
			img{
				width:100px !important; /* you can use % */
				height: auto;
				text-align: center;
			}
			font-size: 14px;
			width: 25%;
			float:left; /* IMPORTANT */
			list-style-type: none;
			display:inline; /* IMPORTANT */
		}
	}
	.nav {
		margin-bottom: 40px;	//Spacing under nav for responsive
		a {
			font-size: 18px;
			font-weight: 600;
			color: $pbh-gray;
		}
    
    .active a {
      color: $pbh-white;
    }

	}
	h2 {
		text-align: left;
	}
	
}
.stories { 
	h3 { font-size: 28px; }
	p { font-size: 14px; font-weight: regular;}
	.block-videos {
		min-height: 2em;
	}
}


#projects {
  .filter {
  	
    #options {
      display: block; width: 100%;
    }
    
    display: block;
  	overflow:hidden;
  	position:relative;
  	margin-bottom: 60px;
  
  	ul {
  		display: block;
  		list-style:none;
  		margin:0 auto;
  		padding:0;
  		position:relative;
  		color: $pbh-gray;
  		font-size: 14px;
  		font-weight: 500;
      text-align: center;
      
  		li {		
        display:inline;
  			float: none;
  			list-style:none;
  			margin:0;
  			padding:0;
  			position:relative;
  			a {
  				color: $pbh-gray;
  				display:inline-block;
  				margin:0 0 0 1px;
  				padding:3px 10px;
  				&.selected, &:hover {
  					color: $pbh-white;
  					//text-decoration: underline;
  					background: $pbh-orange;
  				}
  			}
  		}
  	}
  }
}





.modal-scene {
	h2 {
		color: $pbh-darkgray;
		font-size: 36px;
		weight: bold;
	
		margin-top: 0;
	}
	h4 {
		color: $pbh-gray;
		font-size: 14px;
		line-height: 1;
	}
	p {
		color: $pbh-gray;
		font-size: 14px;
	}
	.modal-formatting {
  	h1 {
  		color: $pbh-orange;
  		font-size: 24px;
  		text-align:left;
  		line-height: .5;
  		@include text-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  	}
  	h2 {color: $pbh-darkgray;font-weight: bold;font-size: 20px;}
  	p {color: $pbh-darkgray;font-size:16px;font-weight:500;}
	}
}
#iframe-video {
	margin-top:-1000px;
}