@import "common";
@import "icons";
@import "retina";
@import "fonts";
@import "responsive";

@mixin hidden {
  display: none;
  visibility: hidden;
}
@mixin visible {
  display: block;
  visibility: visible;
}
@mixin invisible {
	position:absolute !important;
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px,1px,1px,1px);
	overflow:hidden;
	height:1px;
}

@mixin focusable {
  &:active,
  &:focus {
  	position:static !important;
  	clip:auto;
  	overflow:visible;
  	height:auto;
  }
}