@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  
  // gist.github.com/marcedwards/3446599
  @media	only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;           /* Safari 3.0 */
         -moz-background-size: $width $height;           /* Gecko 1.9.2 (Firefox 3.6) */
           -o-background-size: $width $height;           /* Opera 9.5 */
              background-size: $width $height;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    }
  }
}