<body class="{exp:nsm_body_class return='class_attr'} {if logged_in} logged-in{/if}{if logged_out} not-logged-in{/if}">
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  <div id="skip-link">
    <a href="#main-content" class="invisible focusable">Skip to main content</a>
  </div>
  