<body class="{exp:nsm_body_class return='class_attr'} {if logged_in} logged-in{/if}{if logged_out} not-logged-in{/if}">
	<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	<!--<div id="skip-link">
	<a href="#main-content" class="invisible focusable">Skip to main content</a>
	</div>-->
	{exp:channel:entries channel="homepage"}
	<div id="header" style="background: url('{hp_header_image}') no-repeat fixed center;background-size:cover;">
		<div id="topbar">
			<div class="container">
				<div class="pull-left">
					<img class="vertical-center" src="/assets/img/logo.png">
				</div>
				<div class="pull-right">
					<nav>
						<ul>
							<li>Get Involved</li>
							<li>Projects</li>
							<li>Success Stories</li>
							<li><div class="banner"><object  data="/assets/img/vectors/banner.svg" type="image/svg+xml">sdsd</object></div><span class="topper">Give</span></li>
							<li>About Us</li>				
						</ul>
					</nav>
				</div>
			</div>	
		</div>
		
	{/exp:channel:entries}