<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
        <div class="row">
    			<div class="col-lg-4 col-5">
    				<img class="vertical-center img-responsive" src="/assets/img/logo.png">
    			</div>
          <div class="col-lg-8 col-7">
    				<address>
    					Partners For Better Health<br />
    					8780  19<sup>th</sup> Street, Suite #239<br />
    					Rancho Cucamonga, CA  91701<br />
              <br />
    					T: 909.984.9153
    				</address>
          </div>
        </div>
			</div>
			<div class="col-lg-6 upload-btn">
  			<a href="/upload" class="btn btn-primary btn-lg btn-gray">RLF Upload</a>
      </div>
		</div>
		<div class="row">
			<div class="col-lg-12 footer-text" style="margin-bottom: 20px">
        <p align="left">
          &copy; 2013 Partners For Better Health. All Rights Reserved.
        </p>
        <div class="pull-right maven">
          <span>Handcrafted by </span><a href="http://www.maven20.com" target="_blank"><img width="33" src="/assets/img/m-logo.png" class="img-responsive img-enlarge"></a>
        </div>
      </div>
		</div>
	</div>
</div>	