<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
  			<div class="pull-left" style="margin-right: 10px">
  				<img class="vertical-center" src="/assets/img/logo.png">
  			</div>
				<address>
					Partners For Better Health<br />
					8780  19<sup>th</sup> Street, Suite #239<br />
					Rancho Cucamonga, CA  91701<br />
          <br />
					T: 909.984.9153
				</address>
			</div>
			<div class="col-lg-6">
  			<div class="pull-right">
  				<a href="/upload" class="btn btn-primary btn-lg btn-gray">RLF Upload</a>
  			</div>
      </div>
		</div>
		<div class="row">
			<div class="col-lg-12 footer-text" style="margin-bottom: 20px">
        <div class="pull-left">
          &copy; 2013 Partners For Better Health. All Rights Reserved.
        </div>
        <div class="pull-right maven">
          Handcrafted by <a href="http://www.maven20.com" target="_blank"><img width="33" src="/assets/img/m-logo.png" class="img-responsive img-enlarge"></a>
        </div>
      </div>
		</div>
	</div>
</div>	