<div id="footer">
	<div class="container">
		<div class="row">
			<div class="pull-left">
				<img class="vertical-center" src="/assets/img/logo.png">
			</div>
			<div class="col-2">
				<address>
					Partners For Better Health
					8780  19th Street, Suite #239
					Rancho Cucamonga, CA  91701     

					T: 909.984.9153
				</address>
			</div>
			<div class="pull-right">
				<button type="button" class="btn btn-primary btn-lg btn-gray">RLF Login</button>
			</div>
		</div>
		<div class="row footer-text">
			Copyright 2013, All Rights Reserved, Partners For Better Health©, p4bHealth©
		</div>
	</div>
</div>	