<body class="{exp:nsm_body_class return='class_attr'} {if logged_in} logged-in{/if}{if logged_out} not-logged-in{/if}" {if embed:header_image}style="background: url('{exp:ce_img:pair src="{embed:header_image}" width="1200" height="500" crop="yes" filter="gaussian_blur,30"}{made}{/exp:ce_img:pair}') no-repeat fixed center;background-size:cover;"{/if}>
	<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	<!--<div id="skip-link">
	<a href="#main-content" class="invisible focusable">Skip to main content</a>
	</div>-->	
	<section id="header">
		<div id="topbar">
			<div class="container">
				<div class="pull-left">
					<a href="/"><img class="vertical-center logo" src="/assets/img/logo.png"></a>
				</div>
				<div class="pull-right">
					<nav>
						
						
						<ul class="nav nav-pills">
						{exp:structure:nav current_class="active" exclude="1" max_depth="1" include_ul="no" add_unique_ids="yes" add_span="yes"}
						
							<!--<li><a href="/get-involved">Get Involved</a></li>
							<li><a href="/projects">Projects</a></li>
							<li><a href="/stories">Success Stories</a></li>
							<li><div class="banner"><object  data="/assets/img/vectors/banner.svg" type="image/svg+xml"></object></div><a href="/give"><span class="topper">Give</span></a></li>
							<li><a href="/about">About Us</a></li>-->				
						</ul>
						
					</nav>
				</div>
			</div>	
		</div>