<div id="copyright">
  <footer class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list">
            {embed="global/global_nav"}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p>&copy; 2013 Partners for Better Health. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript" src="/assets/js/libs.js"></script>
<script>
  $(document).foundation();
</script>