<div id="copyright">
  <footer class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list">
            <li><a href="{site_url}">Home</a></li>
            {exp:structure:nav start_from="/" max_depth="1" include_ul="no"}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p>&copy; 2010-{current_time format="%Y"} {site_name}. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript" src="/assets/js/libs.js"></script>
<script>
  $(document).foundation();
</script>