<div id="copyright">
  <footer class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list">
            <li><a href="{site_url}" >Home</a></li>
        		<li><a href="/about" >About</a></li>
        		<li><a href="/get_involved" >Get Involved</a></li>
        		<li><a href="/rl_fellowship" >Randall Lewis Fellowship</a></li>
        		<li><a href="/blog" >Blog</a></li>
        		<li><a href="/contact" >Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p>&copy; 2013 Partners for Better Health. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript" src="/assets/js/libs.js"></script>
<script>
  $(document).foundation();
</script>