{!--<li class="{if segment_1 == ''}active{/if}"><a href="{site_url}" >Home</a></li>--}
<li class="{if segment_1 == 'about'}active{/if}"><a href="{site_url}about" >About</a></li>
<li class="{if segment_1 == 'get_involved'}active{/if}"><a href="{site_url}get_involved" >Get Involved</a></li>
<li class="{if segment_1 == 'rl_fellowship'}active{/if}"><a href="{site_url}rl_fellowship" >Randall Lewis Fellowship</a></li>
<li><a href="http://blog.p4bhealth.org" >Blog</a></li>
<li class="{if segment_1 == 'contact'}active{/if}"><a href="{site_url}contact" >Contact</a></li>