<div class="span7">
	<nav>
            <ul class="nav nav-pills pull-right">
                    <li class="{if segment_1 == ''}active{/if}"><a href="{site_url}" >Home</a></li>
		    <li class="{if segment_1 == 'about'}active{/if}"><a href="/about" >About</a></li>
                    <li class="{if segment_1 == 'get_involved'}active{/if}"><a href="/get_involved" >Get Involved</a></li>
                    <li class="{if segment_1 == 'rl_fellowship'}active{/if}"><a href="/rl_fellowship" >Randall Lewis Fellowship</a></li>
                    <li class="{if segment_1 == 'blog'}active{/if}"><a href="/blog" >Blog</a></li>
                    <li class="{if segment_1 == 'contact'}active{/if}"><a href="/contact" >Contact</a></li>
            </ul>
           
	</nav>
</div>