<!-- JS and analytics only. -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- backbone
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{!--<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>--}
<script src="/assets/js/lib.js"></script>
<script src="/assets/js/app.js"></script>

<!-- Y Axis Loader -->
<script src="/assets/js/gridloading/masonry.pkgd.min.js"></script>
<script src="/assets/js/gridloading/imagesloaded.js"></script>
<script src="/assets/js/gridloading/classie.js"></script>
{if segment_1 == ""}
<script src="/assets/js/gridloading/AnimOnScroll.js"></script>
<script>
	new AnimOnScroll( document.getElementById( 'grid' ), {
		minDuration : 0.3,
		maxDuration : 0.6,
		viewportFactor : 0.6
	} );
</script>{/if}