@media screen and (max-width: $screen-tablet) {
	//body {
	//	h1 {font-size: 40px !important;}
	//	p {font-size: 18px !important;}
	//}
	.get-involved, .stories {
		p {font-size: 16px !important;}
	}
	.team li {
		width: 100% !important;
	}
}