@media screen and (max-width: $screen-tablet) {
	#header {
		p {
			width: 90% !important;
			font-size: 18px !important;
		}
	}
}
@media screen and (max-width: $screen-tablet  + 230px) {
  nav {
    ul > li {
      width: 90% !important;
    }
  }
}

