.js .tinynav { display: none }
.js #nav-sub { display: block }

@media screen and (max-width: $screen-desktop) {
	//body {
	//	h1 {font-size: 40px !important;}
	//	p {font-size: 18px !important;}
	//}
  
  .js .tinynav {
    display: block;
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100%;
  
  }
  .js #nav-sub { display: none }
  
  
	.get-involved, .stories {
		p {font-size: 16px !important;}
	}
	.team li {
		width: 100% !important;
	}
}