{exp:channel:entries channel="misc_data" limit="1" dynamic="no"}
<div id="partners-listing" class="row">
  <div class="large-6 small-6 columns">
    <ul>
    {partners limit="{embed:limit}"}
      <li>{if url}<a href="{url}" target="_blank">{/if}{name}{if url}</a>{/if}</li>
    {/partners}
    </ul>
  </div>
  <div class="large-6 small-6 columns">
    <ul>
    {partners offset="{embed:offset}"}
      <li>{if url}<a href="{url}" target="_blank">{/if}{name}{if url}</a>{/if}</li>
    {/partners}
    </ul>
  </div>
</div>
{/exp:channel:entries}
