{if segment_3 == ""}
  {exp:channel:entries channel="static_pages" limit="1"}
    <h1>{title}</h1>
    {if body}
      {body}
    {/if}
  {/exp:channel:entries}
       
  <h4><span>Staff</span></h4>
  <p></p>
  <ul class="thumbnails">
    {exp:channel:entries channel="people" dynamic="no" category="1"}
    <li class="large-4">
     <a href="/about/team/{url_title}" class="thumbnails">
       <img src="{team-pic}" width="150" height="160"/>
     </a>
     <p>{title}{if team-position}, {team-position}{/if}</p>
    </li>
    {/exp:channel:entries}
  </ul>
        
  <h4><span>Board of Directors</span></h4>
  <p></p>
  <ul class="thumbnails">
    {exp:channel:entries channel="people" dynamic="no" category="2"}
    <li class="large-4">
     <a href="/about/team/{url_title}" class="thumbnails">
     <img src="{team-pic}" />
     </a>
     <p>{title}{if team-position}, {team-position}{/if}</p>
    </li>
    {/exp:channel:entries}
  </ul>
         
  <h4><span>Advisory Board</span></h4>
  <p></p>
  <ul class="thumbnails">
    {exp:channel:entries channel="people" dynamic="no" category="3"}
    <li class="large-4">
     <a href="/about/team/{url_title}" class="thumbnails">
     <img src="{team-pic}" />
     </a>
     <p>{title}{if team-position}, {team-position}{/if}</p>
    </li>
    {/exp:channel:entries}
  </ul>
{/if}
            
{if segment_3 != ""}
  {exp:channel:entries channel="people" url_title="{segment_3}" }
  <h3>{title}</h3>
  <p><img src="{team-pic}" class="p-left" />{team_bio}</p>
  {/exp:channel:entries}
{/if}