{exp:channel:entries channel="static_pages" limit="1"}
  <h1>{title}</h1>
  {if body}
    {body}
    <hr />
  {/if}
{/exp:channel:entries}

{exp:channel:entries channel="misc_data" limit="1" dynamic="no"}
{partners limit="1"}
{embed="site/_about_partners_list"
  limit="{exp:math_plus calculate="round({var1}/2, 0)" var1="{field_total_rows}"}{math_plus_result}{/exp:math_plus}"
  offset="{exp:math_plus calculate="(round({var1}/2, 0)) + 1" var1="{field_total_rows}"}{math_plus_result}{/exp:math_plus}"
}
{/partners}
{/exp:channel:entries}