{embed="global/header"}


<body id="home"  class='t-index tg-home ' >
  <div id="wrap">
    <header id="masthead" class="container">
  		<div class="row-fluid">
  			<div class="span5">
  				<a href="{site_url}" class="logo">Partners for Better Health</a>
  			</div>
  			{embed="global/main_nav"}
    </header>

    <div id="content" class="container">
      {embed="global/breadcrumbs"}
      

      <h2>Give</h2>
      <p>Please join us in creating a healthier future with a donation. We have provided a safe and cost efficient means for you to give to Partners for Better Health (P4bHealth).</p>
<p class="tiny-text">Pay by credit card or debit card, or use you Paypal account.</p>      
      <p><img src="/assets/img/border.png" /></p>
      <h3>1. Partners for Better Health Policy Fellowships</h3>
      <p>Your donation to the Partners for Better Health Policy Fellowships will help us create a better future in the Inland Empire.</p>
<p>We are now seeking applications for The Randall Lewis Health Policy Fellowship for the 2012-2013 academic year. This prestigious and competitive fellowship is the first of its kind in the Inland Empire and will provide a unique opportunity to work directly with local communities in improving residents' health.  Five to seven applicants will be selected to serve as interns in cities within the Inland Empire.   Fellows will develop the skills required to successfully influence local and regional health policy.  We will have a direct influence on shaping the little p in health policy to make a difference in our communities.</p>



<p><a href="">Click here to read more about the fellowship</a><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="Partners for Better Health">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></p>
      <p><img src="/assets/img/border.png" /></p>
      
      <h3>2. Healthy Ontario Initiative (HOI)</h3>
      <p>The purpose of the Healthy Ontario Initiative (HOI) is to “empower the community of Ontario to take ownership of its health and make Ontario a model city by improving physical, social, and economic health and well-being.” <a title="http://www.myhealthyontario.org" href="http://www.myhealthyontario.org">Visit HOI</a>.</p>
      <p><a href="">Click here to read more about the HOI</a><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="Partners for Better Health">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></p>
      
      <p><img src="/assets/img/border.png" /></p>
      <h3>3. Traumatic Brain Injuries (TBIs)</h3>
      <p>WHY TBIs?— </p>
<p>Dora Barilla had the perfect life; a great job, a handsome firefighter husband, two beautiful daughters, and a house in the suburbs. But on March 15, 2005, her world was turned upside down. While on a routine call, husband Tom Barilla suffered a traumatic brain injury in a horrific collision that nearly killed him, destroying Dora’s perfect world.</p>
<p>In painstaking detail, Dora recounts the days sitting by Tom’s bedside as he lay in a coma, the numerous surgeries he endured, the endless hours of rehabilitation, and weeks of nasty litigation that pitted the family of firefighters and the city against the California Highway Patrol and the tour bus company that crashed into Tom’s fire engine.</p>
<p>Dora tells the story of her struggle to maintain optimism for her family and friends as well as keep her own sanity. Ultimately, with faith and understanding, Dora is able to accept the challenges of her new world, and embrace a New Day.</p>
<p>Her book:<br /><b>"A New Day, A True Story of Healing, Faith and Miracles"</b> by Dora Barilla<br />Cost: $22.95. All book proceeds go to Partners for a Better Health, a nonprofit that promotes health initiatives. Funds from the book sales are earmarked to assist those experiencing traumatic brain injuries.</p>
<p>Click here to buy the book from the web site: <a title="http://www.anewdaybook.com" href="http://www.anewdaybook.com">http://www.anewdaybook.com</a>
</p>
<p><a href="">Click here to link to this news story about Dora's book</a><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="Partners for Better Health">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></p>
    </div>
  
  </div><!-- End #wrap -->

{embed="global/footer"}
</body>
</html>