{embed="global/head"}

<body id="home"  class='t-index tg-home ' >
  {embed="global/header"}
  
  {exp:channel:entries channel="homepage" limit="1" dynamic="no"}
  <div id="homepage" class="row">
    <div class="large-12 columns">
      <div id="homepage-top" class="row">
        <div id="jumbotron" class="large-12 columns">
          <ul data-orbit>
            {jumbotron}
            <li>
              <a href="{link}"><img src="{slide}" alt="{alt}" /></a>
            </li> 
            {/jumbotron}
          </ul>
        </div>
      </div><!-- End #homepage-top -->
      <div id="homepage-promos" class="row">
        {promo_boxes}
        <div class="large-4 columns">
          <h4><span>{title}</span></h4>
          <a href="{link}"><img src="{image}" alt="{alt}" /></a><p>{text}</p>
        </div>
        {/promo_boxes}
      </div><!-- End #homepage-promos -->
    </div>
  </div><!-- End #homepage -->
  {/exp:channel:entries}

  {embed="global/footer"}
</body>
</html>