{embed="global/header"}


<body id="home"  class='t-index tg-home ' >
<div id="wrap">
  <header id="masthead" class="container">
		<div class="row">
			<div class="span5">
				<a href="{site_url}" class="logo">Partners for Better Health</a>
			</div>
			
      {embed="global/main_nav"}

  </header>

  <div id="content" class="container">
    {embed="global/breadcrumbs"}
  
    <!-- Begin Page Content -->
    <section id="static-page" class="row page-content">

          <aside id="section-nav" class="span3">
        <nav>
          
          <ul class="side-nav">
            <li class="{if segment_1 == 'team'}active{/if}"><a href="/team" >Team</a></li>
            <li class="{if segment_1 == 'partners'}active{/if}"><a href="/partners" >Partners</a></li>
          
          </ul>
        </nav>
        
          
        
      </aside>
    
      <div id="static-page-content" class="span9">
  
        <section id="static-page-content" class="row">
          <div class="span9">
            
            {exp:channel:entries channel="static_pages" limit="1"}
             <h1>{title}</h1>
             {body}
            {/exp:channel:entries}

          </div>
        </section>
      
      
                  </div>
       
        </section>
  
    <!-- End Page Content -->

  </div>
  
  </div><!-- End #wrap -->

{embed="global/footer"}

</body>
</html>