{embed="global/header"}

<body id="{segment_1}"  class='t-index tg-home ' >
  {embed="global/main_nav"}
    
  {embed="global/breadcrumbs"}

  <section id="static-page" class="row page-content">
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <section id="static-page-content" class="{if segment_1 == "about"}large-9 push-3{if:else}large-12{/if} columns">
      {if segment_1 == "about" AND segment_2 == "team"}
        {embed="site/_about_team"}
      {if:else}
        {exp:channel:entries channel="static_pages" limit="1"}
         <h1>{title}</h1>
         {body}
        {/exp:channel:entries}
      {/if}
    </section>
    <!-- Nav Sidebar -->
    {if segment_1 == "about"}
    <aside id="section-nav" class="large-3 pull-9 columns">
      <ul class="side-nav">
        <li class="{if segment_2 == 'team'}active{/if}"><a href="/about/team" >Team</a></li>
        <li class="{if segment_2 == 'partners'}active{/if}"><a href="/about/partners" >Partners</a></li>
      </ul>
    </aside>{/if}
  </section>
  <!-- End Page Content -->
  {embed="global/footer"}
</body>
</html>