{embed="global/header"}


<body id="home"  class='t-index tg-home ' >
  <div id="wrap">
    <header id="masthead" class="container">
  		<div class="row">
  			<div class="span5">
  				<a href="{site_url}" class="logo">Partners for Better Health</a>
  			</div>
  			{embed="global/main_nav"}
    </header>

    <div id="content" class="container">
      {embed="global/breadcrumbs"}
  
      <!-- Begin Page Content -->
      <section id="static-page" class="row page-content">
            <aside id="section-nav" class="span3">
          <nav>
          
            <ul class="side-nav">
              <li><a href="/team" title="" class="active">Team</a></li>  
              <li><a href="/partners" title="">Partners</a></li>
          
            </ul>
          </nav>
        
          
        
        </aside>
        <div id="static-page-content" class="span9">
      
          <section id="static-page-content" class="row">
            <div class="span9">
              {if segment_3 == ""}
              <h1>Partners & Organizations</h1>
              
              <p>  </p>
                <div class="span4">
                <ul class="partners">
                  <li>2-1-1</li>
                  <li>American Red Cross</li>
                  <li>Arrowhead Regional MedicalCenter</li>
                  <li>BLD Consulting</li>
                  <li>Chaffey Joint Unified School District</li>
                  <li>City of Ontario</li>
                  <li class="indent">City Manager</li>
                  <li class="indent">Chamber of Commerce</li>
                  <li class="indent">Code Enforcement</li>
                  <li class="indent">Development Center</li>
                  <li class="indent">Economic Development</li>
                  <li class="indent">Fire Department</li>
                  <li class="indent">Housing</li>
                  <li class="indent">Library</li>
                  <li class="indent">Mayor's Office</li>
                  <li class="indent">Parks</li>
                  <li class="indent">Planning</li>
                  <li class="indent">Public Works</li>
                  <li class="indent">Police Department</li>
                  <li class="indent">Recreation</li>
                  <li class="indent">Risk Management</li>
                  <li class="indent">Transportation</li>
                  <li>Fresh Start Ministries</li>
                  <li>Coalition</li>
                  <li>Care</li>
                  <li>First 5 San Bernardino</li>
            </div>
            
            <div class="span4">
            <ul class="partners">
              <li>Fox Group-Consultants to the Healthcare Industry</li>
              <li>IHP</li>
              <li>Kaiser Permanente</li>
              <li>Kids Come First</li>
              <li>Latino Health Collaborative</li>
              <li>Lewis Group</li>
              <li>Loma Linda University</li>
              <li>Mercy House</li>
              <li>Mt. Zion Church</li>
              <li>Ontario Montclair School District</li>
              <li>Our Lady of Guadalupe</li>
              <li>Pomona Valley Hospital Medical Center</li>
              <li>Public Works</li>
              <li>Reach Out West End</li>
              <li>SMG Catering</li>
              <li>San Bernardino County</li>
              <li>San Joaquin Valley College</li>
              <li>San Antonio Community Hospital</li>
              <li>The Planning Center</li>
              <li>Transportation Center</li>
              <li>Water of Life Church</li>
              <li>12 Week Weight Loss Challenge</li>
              <li>Ontario Montclair YMCA</li>
        </div>
            
   
      
      
        </div>
      </section>
  
      <!-- End Page Content -->

    </div>
  
  </div><!-- End #wrap -->

{embed="global/footer"}
</body>
</html>