{embed="global/header"}


<body id="home"  class='t-index tg-home ' >
  <div id="wrap">
    <header id="masthead" class="container">
  		<div class="row-fluid">
  			<div class="span5">
  				<a href="{site_url}" class="logo">Partners for Better Health</a>
  			</div>
  			{embed="global/main_nav"}
    </header>

    <div id="content" class="container">
      {embed="global/breadcrumbs"}
      

      <h2>Randall Lewis Health Policy Fellowship program</h2>
      <p>The Randall Lewis Health Policy Fellowship program is now seeking applications for the 2012-2013 academic year. This prestigious and competitive fellowship, the first of its kind in the Inland Empire, will provide a unique opportunity to work directly with local communities in improving residents' health. Fellows will develop the skills required to successfully influence local and regional health policy. </p>

<p><b>Applications are due no later than July 30, 2013.</b></p>
<p><a href="/assets/2012-13RLHealthPolicyApplication.pdf" target="_blank">Click here to open application.</a></p>
      <p><img src="/assets/img/border.png" /></p>

  
    </div>
  
  </div><!-- End #wrap -->

{embed="global/footer"}
</body>
</html>