{embed="global/header"}


<body id="home"  class='t-index tg-home ' >
  <div id="wrap">
    <header id="masthead" class="container">
  		<div class="row">
  			<div class="span5">
  				<a href="{site_url}" class="logo">Partners for Better Health</a>
  			</div>
  			{embed="global/main_nav"}
    </header>

    <div id="content" class="container">
      {embed="global/breadcrumbs"}
  
      <!-- Begin Page Content -->
      <section id="static-page" class="row page-content">
            <aside id="section-nav" class="span3">
          <nav>
          
            <ul class="side-nav">
              <li><a href="" title="" class="active">Team</a></li>  
              <li><a href="" title="">Partners</a></li>
          
            </ul>
          </nav>
        
          
        
        </aside>
        <div id="static-page-content" class="span9">
      
          <section id="static-page-content" class="row">
            <div class="span9">
              {if segment_2 == ""}
              <h1>Team</h1>
      
            
              <h4>Staff</h4>
              <p></p>
              <ul class="thumbnails">
                {exp:channel:entries channel="people" dynamic="no" category="1"}
                <li class="span4">
                 <a href="/team/{url_title}" class="thumbnails">
                 <img src="{team-pic}" width="150" height="160"/>
                 </a>
                 <p>{title}{if team-position}, {team-position}{/if}</p>
                </li>
                {/exp:channel:entries}
              </ul>
        
              
          
    
            
              <h4>Board of Directors</h4>
              <p></p>
              <ul class="thumbnails">
                {exp:channel:entries channel="people" dynamic="no" category="2"}
                <li class="span4">
                 <a href="/team/{url_title}" class="thumbnails">
                 <img src="{team-pic}" />
                 </a>
                 <p>{title}{if team-position}, {team-position}{/if}</p>
                </li>
                {/exp:channel:entries}
              
              </ul>
         
            
            
              <h4>Advisory Board</h4>
              <p></p>
              <ul class="thumbnails">
                {exp:channel:entries channel="people" dynamic="no" category="3"}
                <li class="span4">
                 <a href="/team/{url_title}" class="thumbnails">
                 <img src="{team-pic}" />
                 </a>
                 <p>{title}{if team-position}, {team-position}{/if}</p>
                </li>
                {/exp:channel:entries}
              </ul>
              {/if}
            
              {if segment_2 != ""}
              {exp:channel:entries channel="people" url_title="{segment_2}" }
              <h3>{title}</h3>
              <p><img src="{team-pic}" class="p-left" />{team_bio}</p>
              {/exp:channel:entries}
              {/if}

            </div>
          </section>
      
      
        </div>
      </section>
  
      <!-- End Page Content -->

    </div>
  
  </div><!-- End #wrap -->

{embed="global/footer"}
</body>
</html>